.card {
  width: 100%;
  border-radius: 10px; 
  background-color: #ffffff; 
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card:hover {
  opacity: 0.9;
}

.link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden; 
  outline: none;
}

.link:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px rgba(153, 51, 26, 1);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 376px; 
}

.image {
  object-fit: cover;
}

.favoriteWrapper {
  position: absolute;
  top: 16px;
  right: 16px; 
  z-index: 2;
}

.favoriteWrapper button {
  width: 32px;
  height: 32px;
  border-radius: 5px; 
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
  border: none;
  cursor: pointer;
  outline: none;
}

.favoriteWrapper button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(153, 51, 26, 1);
}

.favoriteWrapper button svg path {
  width: 16px; 
  height: 16px;
}

.content {
  padding: 16px 24px 24px 24px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  flex: 1; 
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  margin: 0;
  line-height: 1.2;
}

.location {
  font-size: 14px;
  color: #888888;
  margin: 0;
}

.priceContainer {
  margin-top: 10px;
}

.price {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.perNight {
  font-size: 14px;
  color: #888888;
}

@media (max-width: 768px) {
  .imageContainer {
    aspect-ratio: 1 / 1;
    height: auto; 
  }
  
  .content {
    padding: 15px 5px; 
  }
}